/* CUSTOM STYLES */
body {
    position: relative;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

.jumbotron {
    /* margin-top: 25px; */
    /* min-height: 33.33vh; */
    position: relative;
    padding: 0 !important;
    min-width: 100%;
}

.jumbotron .container,.jumbotron  .row {
    min-width: 100%;
    padding: 0 !important;
}

#map {
    position: relative; left: 0; right: 0; bottom: 0; top: 0;
    min-height: 33.33vh;
}

#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.welcome-form {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

/* Off-Canvas Menu - The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #007bff;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button ("X" in top right corner to close) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#stickyNavTop a{
    left: 0;
}

.rowItem {
    padding: 1%;
}
    
#aboutUs {
    font-size: 20px;
    font-style: bold;
}
    
#search {
    margin-top: 5px;
}

input[type="file" ] {
    background-color: white;
    align-items: baseline;
    color: black;
    text-align: start;
    width: 55%;
    margin-left: 4%;
    margin-right: 1%;
    display: none;
}

input#fileupload {
    background-color:dodgerblue; 
    color: white;
}

form {
    margin-left: 5%;
}

button {
    margin: 15%;
} 

#clue {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-top: 12%;
}

#mainContent {
    margin-bottom: 32vh;
}

.fa {
    color: white;
}

.scav-item-inner {
    color: white;
}

.submitted {
    display: none;
}